body { background: #c81d57; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 37px; display: flex; }
.block-payment-0 { color: #797e29; font-size: 12px; margin-bottom: 5px; }
.block-shipping-1 { color: #cadcf8; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #6d0fb4; font-size: 14px; margin-bottom: 5px; }
.block-session-3 { color: #43c0d8; font-size: 17px; margin-bottom: 5px; }
.block-sms-4 { color: #781fdb; font-size: 16px; margin-bottom: 5px; }